.container {
  width: 80%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  color: red;
  padding-top: 40px;
}
.container h1 {
  font-size: 50px;
  text-align: center;
}

#cardContainer {
  width: 100%;
  margin: 0 auto;
}
#cardContainer .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cardContainer .card span {
  font-size: 24px;
  padding: 24px 0;
}
#cardContainer .card img {
  width: 500px;
  object-fit: cover;
  padding-bottom: 40px;
}

/*# sourceMappingURL=styles.css.map */
